<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>咕嘟商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="../../res/js/jquery.js"></script>

    <link rel="stylesheet" href="../../res/css/style.css">
    <link rel="stylesheet" href="../../res/css/loader-style.css">
    <link rel="stylesheet" href="../../res/css/bootstrap.css">

    <link href="../../res/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
    <link href="../../res/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
    <link href="../../res/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../../res/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">
    <link rel="stylesheet" href="../../res/js/dataTable/css/datatables.responsive.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../../res/ico/minus.png">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- TOP NAVBAR -->
<nav role="navigation" class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="entypo-menu"></span>
            </button>
            <div id="logo-mobile" class="visible-xs">
                <h1>咕嘟商城</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /END OF TOP NAVBAR -->
<!-- SIDE MENU -->
<div id="skin-select">

    <div id="logo">
        <h1>咕嘟商城</h1>
    </div>
    <a id="toggle">
        <span class="entypo-menu"></span>
    </a>
    <div class="skin-part">
        <div id="tree-wrap">
            <div class="side-bar">
                <ul class="topnav menu-left-nest">
                    <li>
                        <a class="tooltip-tip ajax-load" title="管理员信息">
                            <i class="icon-document-edit"></i>
                            <span>管理员信息</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="updatePassword.html" title="修改密码">
                                    <i class="entypo-doc-text"></i><span>修改密码</span>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a class="tooltip-tip2 ajax-load" href="auto.html" title="权限管理">-->
                            <!--<i class="entypo-newspaper"></i><span>权限管理</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>
                </ul>
                <ul class="topnav menu-left-nest">
                    <li>
                        <a class="tooltip-tip ajax-load" title="订单管理">
                            <i class="icon-window"></i>
                            <span>订单管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="order.html" title="订单列表">
                                    <i class="entypo-doc-text"></i><span>订单列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip ajax-load" title="商品管理">
                            <i class="icon-window"></i>
                            <span>商品管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="goodsList.html" title="商品列表">
                                    <i class="entypo-doc-text"></i><span>商品列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addGoods.html" title="商品上传">
                                    <i class="entypo-newspaper"></i><span>普通商品上传</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addDisGoods.html" title="商品上传">
                                    <i class="entypo-newspaper"></i><span>秒杀商品上传</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addAdvert.html" title="商品上传">
                                    <i class="entypo-newspaper"></i><span>广告/轮播图上传</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip ajax-load" title="类目管理">
                            <i class="icon-window"></i>
                            <span>类目管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="cateList.html" title="类目管理">
                                    <i class="entypo-doc-text"></i><span>类目列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addCategory.html" title="类目编辑">
                                    <i class="entypo-newspaper"></i><span>类目编辑</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip"  title="消息管理">
                            <i class="icon-window"></i>
                            <span>消息管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="newsSortList.html" title="消息列表">
                                    <i class="entypo-doc-text"></i><span>消息类别列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="newsList.html" title="消息列表">
                                    <i class="entypo-doc-text"></i><span>消息列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="newsSort.html" title="消息列表">
                                    <i class="entypo-doc-text"></i><span>消息类别添加</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="news.html" title="消息列表">
                                    <i class="entypo-doc-text"></i><span>消息添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip" href="javascript:;" title="提现管理">
                            <i class="icon-window"></i>
                            <span>提现管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="txList.html" title="提现列表">
                                    <i class="entypo-doc-text"></i><span>提现列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip" href="javascript:;" title="费率管理">
                            <i class="icon-window"></i>
                            <span>费率管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="messageList.html" title="费率管理">
                                    <i class="entypo-doc-text"></i><span>费率管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip" title="活动管理">
                            <i class="icon-window"></i>
                            <span>活动管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="couponsList.html" title="优惠券列表">
                                    <i class="entypo-doc-text"></i><span>优惠券列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="CouponsSortList.html" title="优惠券种类列表">
                                    <i class="entypo-doc-text"></i><span>优惠券种类列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addCouponsSort.html" title="添加优惠券种类">
                                    <i class="entypo-doc-text"></i><span>添加优惠券种类</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="addCoupons.html" title="添加优惠券">
                                    <i class="entypo-doc-text"></i><span>添加优惠券</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="tooltip-tip"title="退货/发货">
                            <i class="icon-window"></i>
                            <span>退货/发货</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="salesReturnList.html" title="优惠券种类列表">
                                    <i class="entypo-doc-text"></i><span>退货列表</span>
                                </a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="expressFind.html" title="添加优惠券种类">
                                    <i class="entypo-doc-text"></i><span>发货添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul id="menu-showhide" class="topnav menu-left-nest">
                    <li>
                        <a class="tooltip-tip"  title="分销管理">
                            <i class="icon-document"></i>
                            <span>分销管理</span>
                        </a>
                        <ul>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="personnel.html" title="Blog List">
                                    <i class="entypo-doc-text"></i><span>分销用户</span></a>
                            </li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="Domestic.html" title="Blog List">
                                    <i class="entypo-doc-text"></i><span>所有用户</span></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END OF SIDE MENU -->

<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header">
                        <span class="entypo-menu"></span>
                        <span>订单详情</span>
                    </h2>
                </div>
            </div>
        </div>
        <!--/ TITLE -->
        <!-- END OF BREADCRUMB -->
        <div class="content-wrap" id="dataShow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nest" id="FootableClose">
                        <div class="title-alt">
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#Footable">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>
                        </div>
                        <!-- 数据展示 -->
                        <div class="body-nest" id="Footable">
                            <div><span>订单号: {{item.orderNumber}}</span></div>
                            <div style="margin-top: 10px;"><span>收货人: {{item.userName}}</span></div>
                            <div style="margin-top: 10px;"><span>手机号码: {{item.mobile}}</span></div>
                            <div style="margin-top: 10px;"><span>订单总价: &yen;{{item.orderPrice}} </span></div>
                            <div style="margin-top: 10px;"><span>收件人地址: {{item.address}} </span></div>
                            <div style="margin-top: 10px;"><span>订单状态: {{item.orderState}} </span></div>
                            <div style="margin-top: 10px;"><span>支付方式: {{item.payType}} </span></div>
                            <div style="margin-top: 10px;"><span>订单产品列表: </span></div>
                            <div>
                                <table class="table-striped footable-res footable metro-blue" >
                                    <thead>
                                    <tr>
                                        <th width="4%">序号</th>
                                        <th width="250">产品图片</th>
                                        <th>产品名称</th>
                                        <th>规格</th>
                                        <th width="20%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in items">
                                            <td>{{index+1}}</td>
                                            <td><img :src="item.imgList"/></td>
                                            <td>{{item.title}}</td>
                                            <td>{{item.spec}}</td>
                                            <td><a href="javascript:;">查看产品详情</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="margin-top: 50px;text-align: center;" ><input type="button" @click="send" value="发货"/></div>
                            <div style="margin-top: 50px;text-align: center;" v-if="item.orderState=='退货'"><input type="button" value="同意"/><input type="button" value="拒绝"/></div>
                        </div>
                        <div id="sendGoods" style="display: none;">
                            <div>
                                <span>订单号: {{item.orderNumber}}</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>收货人: {{item.userName}}</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>收件人地址: {{item.address}} </span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>快递选择: 
                                    <select id="exSelect" style="width: 186px;height: 27px;">
                                        <option v-for="ex in exs" :value="ex.expressCode">{{ex.expressName}}</option>
                                    </select>
                                </span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>快递单号: <input type="text" id="cNumber"/></span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>发件地: <input type="text" id="cFrom"/></span>
                            </div>
                            <div style="margin-top: 10px;">
                                <span>收货地: <input type="text" id="cTo"/></span>
                            </div>
                            <div style="margin-top: 10px;text-align: center;">
                                <span><input type="button" @click="confirmSend" value="发货"/></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /END OF CONTENT -->
    </div>
</div>
<!--  END OF PAPER WRAP -->

<!-- MAIN EFFECT -->
<script type="text/javascript" src="../../res/js/preloader.js"></script>
<script type="text/javascript" src="../../res/js/bootstrap.js"></script>
<script type="text/javascript" src="../../res/js/app.js"></script>
<script type="text/javascript" src="../../res/js/load.js"></script>
<script type="text/javascript" src="../../res/js/main.js"></script>

<!-- /MAIN EFFECT -->
<!-- GAGE -->
<script type="text/javascript" src="../../res/js/toggle_close.js"></script>
<script type="text/javascript" src="../../res/js/layer/layer.js"></script>
<script type="text/javascript" src="../../res/laydate/laydate.js"></script>
<script type="text/javascript" src="../../res/js/util.js"></script>
<script type="text/javascript" src="../../res/js/vue.js"></script>
<script type="text/javascript" src="../../res/js/admin/orderInfo.js"></script>
</body>
</html>
